.idea
dtw_c.c
dtw_c.py
dtw_c.*.{so,pyd}
dtw_cc*.c
dtw_cc*.py
dtw_cc*.{so,pyd}
ed_cc*.c
ed_cc*.py
ed_cc*.{so,pyd}
util_numpy_cc*.c
util_numpy_cc*.py
util_numpy_cc*.{so,pyd}
.cache
.benchmarks
.eggs
.ipynb_checkpoints
build
dtaidistance.egg-info
dist
dtaidistance/*html
dtaidistance/*so
dtaidistance/__pycache__/
dtaidistance/dtw_c.*.pyd
README
README.rst
benchmark*.svg
MANIFEST
docs/_build
tests/output
experiments/input
experiments/output
experiments/plots
experiments/tmp
venv*
