.idea
.spyproject
dtw_c.c
dtw_c.py
dtw_c.*.{so,pyd}
dtw_cc*.c
dtw_cc*.py
**/dtw_cc*.{so,pyd}
ed_cc*.c
ed_cc*.py
ed_cc*.{so,pyd}
util_numpy_cc*.c
util_numpy_cc*.py
util_numpy_cc*.{so,pyd}
loco_cc*.c
.cache
.benchmarks
.eggs
.ipynb_checkpoints
build
dtaidistance.egg-info
dist
dtaidistance/*html
dtaidistance/*so
dtaidistance/__pycache__/
__pycache__
*.pyd
*.o
**/*.so
dtaidistance/dtw_c.*.pyd
README
README.rst
benchmark*.svg
MANIFEST
docs/_build
tests/output
experiments/input
experiments/output
experiments/plots
experiments/tmp
venv*
*.supp
results
*_test
src/dtaidistance/jinja/dtw_cc.pyx
src/dtaidistance/jinja/dtw_cc_omp.pyx
src/dtaidistance/jinja/dtw_cc.pxd
src/dtaidistance/jinja/dtaidistancec_globals.pxd
src/dtaidistance/jinja/ed_cc.pyx
src/dtaidistance/jinja/util_numpy.py
src/DTAIDistanceC/DTAIDistanceC/jinja
wm_*
