.idea
dtw_c.c
dtw_c.py
dtw_c.*.so
.cache
.benchmarks
.eggs
.ipynb_checkpoints
build
dtaidistance.egg-info
dist
dtaidistance/*html
dtaidistance/*so
dtaidistance/__pycache__/
dtaidistance/dtw_c.*.pyd
README
README.rst
benchmark*.svg
MANIFEST
docs/_build
tests/output
experiments/input
experiments/output
experiments/plots
experiments/tmp